# Roblox
/*.rbxl
/*.rbxl.lock
/*.rbxlx
/*.rbxlx.lock
/*.rbxm
/*.rbxmx
/*.sig
roblox.toml

# dependencies
Packages/*
!Packages/.robloxrc
.DS_Store
debug.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# misc
/luacov.*
/lcov*
/site
/rotriever.lock
/output.txt
.vscode/launch.json
cachegrind.out.*
callgrind.out.*
